<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <h1>Todo List</h1>
      </header>
      <main>
        <div class="todo-list">
          <div class="title">Cose da fare oggi:</div>
          <div class="add-todo">
            <form action="">
              <input
                v-model="addTodo"
                type="text"
                placeholder="aggiungi cose da fare"
              />
            </form>
            <button @click="addTodoList()">+</button>
          </div>
          <ul>
            <li
              v-for="todo, i in todoList"
              :class="{'line-through': todo.isActive == 0, 'green': todo.isActive == 2}"
              @click="changeTodo(todo, i)"
            >
              {{todo.text}}
            </li>
          </ul>
        </div>
      </main>
    </div>

    <script src="./script.js"></script>
  </body>
</html>
